@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,800,800i,900i&display=swap');

.navLinks {
    color: rgb(220, 220, 220) !important;
}

.navLinks:hover {
    color: white !important;
}

.nunito-font {
    font-family: 'Nunito Sans', sans-serif;
}